{% extends 'base.html' %}

{% block title %}Course Details{% endblock %}

{% block content %}
<h1>Course ({{course.name}}) Details</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Duration</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{course.id}}</td>
            <td>{{course.name}}</td>
            <td>{{course.duration}}</td>
            <td>
                <a href="{% url 'UpdateCourse' course.id %}">Update</a>
                <a href="{% url 'DeleteCourse' course.id %}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
{%endblock%}