{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}
<h1>Courses List</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Duration</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{course.id}}</td>
            <td>{{course.name}}</td>
            <td>{{course.duration}} Hours</td>
            <td>
                <a href="{% url 'UpdateCourse' course.id %}">Update</a>
                <a href="{% url 'DeleteCourse' course.id %}">Delete</a>
                <a href="{% url 'CourseDetails' course.id %}">Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{%url 'AddCourse' %}" class="add">Add Course</a>
{%endblock%}