{% extends 'base.html' %}

{% block title %}Trainees | Add Trainee{% endblock %}

{% block content %}
<h1>Add New Trainee</h1>
<form method="post">
    {% csrf_token %}
    <label for="tName">Trainee Name:</label>
    <input type="text" id="tName" name="trainee-name" placeholder="Enter trainee name" required>
    <label for="tEmail">Trainee Email:</label>
    <input type="email" id="tEmail" name="trainee-email" placeholder="Enter trainee email" required>
    <label for="tPhone">Trainee Phone:</label>
    <input type="text" id="tPhone" name="trainee-phone" placeholder="Enter trainee phone" required>
    <label for="tAge">Trainee Age:</label>
    <input type="number" id="tAge" name="trainee-age" placeholder="Enter trainee age" required>
    <button type="submit" class="btn">Add Trainee</button>
</form>
{%endblock%}