{% extends 'base.html' %}

{% block title %}Trainee Details{% endblock %}

{% block content %}
<h1>Trainee ({{trainee.name}}) Details</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Age</th>
            <th>Course</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{trainee.id}}</td>
            <td>{{trainee.name}}</td>
            <td>{{trainee.email}}</td>
            <td>{{trainee.phone_number}}</td>
            <td>{{trainee.age}}</td>
            <td>{{trainee.course.name}}</td>
            <td>
                <a href="{% url 'UpdateTrainee' trainee.id %}">Update</a>
                <a href="{% url 'DeleteTrainee' trainee.id %}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
{%endblock%}