{% extends 'base.html' %}

{% block title %}Trainees{% endblock %}

{% block content %}
<h1>Trainee List</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for trainee in trainees %}
        <tr>
            <td>{{trainee.id}}</td>
            <td>{{trainee.name}}</td>
            <td>
                <a href="{% url 'UpdateTrainee' trainee.id %}">Update</a>
                <a href="{% url 'DeleteTrainee' trainee.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'AddTrainee' %}" class="add">Add Trainee</a>
{%endblock%}