{% extends 'base.html' %}

{% block title %}Trainees{% endblock %}

{% block content %}
<h1>Trainee List</h1>

{% if error %}
<p class="error">{{error}}</p>
{% endif %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Age</th>
            <th>Course</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for trainee in trainees %}
        <tr>
            <td>{{trainee.id}}</td>
            <td>{{trainee.name}}</td>
            <td>{{trainee.email}}</td>
            <td>{{trainee.phone_number}}</td>
            <td>{{trainee.age}}</td>
            <td>{{trainee.course.name}}</td>
            <td>
                <a href="{% url 'UpdateTrainee' trainee.id %}">Update</a>
                <a href="{% url 'DeleteTrainee' trainee.id %}">Delete</a>
                <a href="{% url 'TraineeDetails' trainee.id %}">Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'AddTrainee' %}" class="add">Add Trainee</a>
{%endblock%}